.addItem {
    display: flex;
    justify-content: space-between;
}
.back {
    margin-left: 48px;
    margin-top: 22px;
}
.form {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-top: 183px;
    width: 520px;
}
.rightImg {
    width: 50%;
    height: 100%;
}

.button {
    margin-top: 20px;
    padding: 8px 20px;
    height: 40px;
    background: #0b69ff;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
    border: 0;
}
